language: node_js
node_js:
    - "4"
cache:
  directories:
  - ~/.npm
  - node_modules
  
before_install:
    - npm install -g hexo

install:
    - npm install

before_script:
    - git config --global user.name 'lzhr'
    - git config --global user.email 'lzhrsmile@gmail.com'

script:
    - hexo generate

after_success:
    - mkdir .deploy
    - cd .deploy
    - git init
    - git remote add origin $DEPLOY_REPO
    - cp -r ../public/* .
    - git add -A .
	- # date -d @Unix timestamp
	- # curl http://api.k780.com:88/?app=life.time&appkey=10003&sign=b59bc3ef6191eb9f747dd4e83c99f2a4&format=json
    - git commit -m 'Site updated by Travis CI'
    - git push --force --quiet origin master
